body{
    background-color:#eceeeb ;
    margin: 0;
    padding: 0;
}
#container{
    position: sticky;
    top: 0;
}
.head ul li{
    list-style: none;
    display: inline;
}

.head{
    display:flex;
    align-items:baseline;
    justify-content:space-around;
    background-color: white;
    height: 60px;
}
.head ul {
    margin: 0 0 0 200px;
    font-size: 20px;
}
.head ul li{
    margin: 0 40px 0 0;
}

.head #h1{
    font-weight: bold;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.head a{
    text-decoration: none;
    color:rgb(34, 33, 33) ;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head img{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.head {
    align-items: center;
}
.head h1{
    align-items: start;
}

.head i{
    font-size: 25px;
    margin-left: 10px;
    color: grey;
}

.head a:hover i{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.center{
    margin: 150px auto;
    text-align: center;
}
.center .p1{
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.center .p2{
     margin: 50px 300px 20px 300px;
     word-spacing: 5px;
     line-height: 25px;
     font-size: 20px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color:rgb(82, 77, 77) ;

}
.center .p3{
    margin: 50px 0 0 0;
}
.center a{
    text-decoration: none;
    color: black;
    padding: 10px 70px 10px 70px;
    background-color: #F6BE00;
    border: none;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
#about{
    margin:200px 50px 0 50px;
    text-align: center;
    word-spacing: 5px;
    line-height: 25px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(82, 77, 77) ;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
padding-top: 10px;}
    
#about h2{
    color:  #F6BE00;
}
#about h1{
    font-size: 50px;
    text-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
#about #name{
    color: black;
    font-weight: bold;
}
#about #course{
    color:black;
    font-weight: bold;
}
#about .pic{
    display: flex; 
}
#about img{
    width:300px;
    height: 400px;
    padding: 20px;
}
#about .block{
    display: flex;
    padding: 10px;
}
#about .h2{
    margin-left: 20px; 
    padding: 5px;
}
#about #para1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    width: 300px;
    height: 300px;
    padding: 10px;
 
}
#about #para2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    width: 200px;
    height: 300px;
    padding: 10px;
}
#about i{
    margin-left: 20px;
    font-size: 40px;
}
#about i:hover{
    color:black;
}
#project{
    margin:100px 50px 0 50px;
    word-spacing: 5px;
    line-height: 25px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(82, 77, 77) ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    padding: 10px;
 
}
#project h1{
    text-align: center;
}
#project h2{
    text-align: center;
    color: #F6BE00;
}
#project a{
    text-decoration: none;
    color:rgb(82, 77, 77) ;

}
#project span{
    color: red;
    text-decoration: underline;
}
#project a:hover span{
    font-size: 30px;
}
#project ol{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#project h1{
    font-size: 50px;
    text-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
#contact{
    margin:100px 50px 20px 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(82, 77, 77) ;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 5px;
    padding-bottom: 20px;
}
#contact h1{
    font-size: 50px;
    text-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
#contact h2{
    color: #F6BE00;

}
#contact .con {
    display: flex;
justify-content: space-evenly;
}
#contact table{
    width: 400px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#contact table h2{
    color:rgb(82, 77, 77) ;
    font-size: 30px;
    text-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;;

}
#contact table h3{
    color: #F6BE00;
}
 #contact table span{
    color: white;
 }   
 #contact table .td{
    background-color: rgb(39, 38, 38);
    padding: 10px;
 }
 #contact #table2{
    width:500px;
    height:400px;
 }
 #contact #table1{
    margin-top: 100px;
 }
 #contact button{
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: #F6BE00;
    color: black;
    border-radius: 5px;
 }
 