body {
    overflow: hidden;
}


.leftHalf {
    background: url("/home/vigneshwaran/Downloads/WhatsApp_Image_2023-10-02_at_12.08.23_PM-removebg-preview.png");
    width: 25%;
    left: 0px;
    height: 100%;
    position: absolute;
    animation: leftHalf 4s ease-out;

 }
 @keyframes leftHalf {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    
}

 .rightHalf {
    /* background-color:rgb(116, 112, 112); */
    width: 75%;
    position: absolute;
    right: 0px;
    height: 100%;
    animation: right 4s ease-out;
 }
 @keyframes right {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    
}
 
  


.empty{
    display: flex;
    background-color: black;
    color:white;
    padding-left: 40px;
    font-family: Ribeye;
    padding-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.empty #port{
    padding-top: 5px;
    font-size: 3rem;
}
.empty button{
    display: flex;
    justify-content: space-evenly;
    margin-left: 980px;
    color:white;
    background-color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 5px;
    margin-top: 8px;
    font-family: Roboto;
}
button:hover{
    color:aqua;
}
.empty span{
    font-weight: bold;
    color: rgb(27, 121, 27);
}
.sitebar{
    display:flex;
    padding: 1em;
    flex-wrap: wrap;
    row-gap: 1em;
    margin-left: 80px;
    margin-right: 10px;
    background-color:rgb(73, 71, 71);
    border-radius: 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    animation:header 3s  ease-in-out;
    
}
@keyframes header{
    0%{
        
        transform: translateY(-100%);
    }
}
.logo{
    display: inline-flex;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #2c2b29;
    background-image: url(/home/vigneshwaran/Downloads/VREta.png); 
    background-position: center;
    background-size: 100%;
    margin-left: 10px;
 }


.sitebar a{
    text-decoration: None;
    display: inline;
    font-size: 1.5em;
}
.sitebar a:hover{
    text-decoration: none;
}
.sitebar a span{
    color:white;
    font-weight: bold;
}
.sitebar a span:hover{
    color:aqua;
}

.sitebar .first{
    margin-top: 2px;
    margin-left: 10px;
    font-size: 3rem;
    font-family: Ribeye;
    color: white;

}

.first span{
    font-size: 1.5rem;
}
.first span:hover{
    overflow: visible;
    font-weight: bold;
    font-size: 3rem;
    
}
nav{
    flex:2;
    display:flex;
    align-items: center;
}

nav a{
    flex:1;
}


.sitebar nav .second {
    display: flex;
    float: right;
    margin-right: 10px;
    justify-content:space-between;
    margin-left: 100px;
    color:black;
    background-color:aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    border-radius: 20px;
    padding: 5px;
    margin-top: 8px;
    font-family: Roboto;
}

.second:hover{
    color:aqua;
}
.image{
    display: inline-flex;
    margin-left: 270px;
    width: 280px;
    height: 270px;
    border-radius: 50%;
    background-image: url(/home/vigneshwaran/Downloads/VIGNESH.png); 
    background-position: center;
    background-size: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    animation:image 4s  ease-in-out;
    

} 
@keyframes image{
    0%{
        
        transform: translateY(-100%);
    }
}
.rightHalf{
    background-color: rgb(116, 112, 112);
    overflow: scroll;
}
.rightHalf .para{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    line-height: 30px;
    margin-top: 350px;
    margin-left: 220px;
    margin-right: 20px;
}
.rightHalf button{
    background-color: white;
    color: black;
    font-family: Roboto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;

}
.rightHalf .para span{
    color: aqua;
    font-weight: bold;
}
.about h1,.h2{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
.about h1{
    color: white;
}
.about .h2{
    font-weight: bold;
    color: aqua;
    text-align: center;
    margin-top: 0;
}
.about{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    line-height: 30px;
    margin-left: 220px;
    margin-right: 20px;
}
.about p{
    margin-top: 30px;
}
.about span{
    color: aqua;
    font-weight: bold;
}
.edu h1{
   text-align: center;
    font-weight: bold;
    font-size: 60px;
}.edu h1{
    color: white;
}
.edu .h2{
    font-weight: bold;
    color: aqua;
   text-align: center;
    margin-top: 0;
}.edu{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    line-height: 30px;
    margin-left: 220px;
    margin-right: 20px;
}
.edu .education{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.lan h1{
  text-align: center;
    font-weight: bold;
    font-size: 60px;
}.lan h1{
    color: white;
}
.lan .h2{
    font-weight: bold;
    color: aqua;
   text-align: center;
    margin-top: 0;
}.lan{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    line-height: 30px;
    margin-left: 220px;
   
}
.lan .language{
    margin-left: 280px;
    margin-top: 20px;
}
.pro h1{
   text-align: center;
    font-weight: bold;
    font-size: 60px;
}.pro h1{
    color: white;
}
.pro .h2{
    font-weight: bold;
    color: aqua;
    text-align: center;
    margin-top: 0;
}.pro{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    line-height: 30px;
    margin-left: 220px;
    margin-right: 20px;
}
.pro .code{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.pro .code h2{
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.con h1{
    text-align: center;
     font-weight: bold;
     font-size: 60px;
 }.con h1{
     color: white;
 }
 .con .h2{
     font-weight: bold;
     color: aqua;
     text-align: center;
     margin-top: 0;
 }.con{
     color: white;
     font-size: 20px;
     font-weight: bold;
     font-family: Roboto;
 }
 .con .ul{
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 220px;
    margin-right: 150px;
 }
 .con .ul h3,h4{
    text-align: center;
    padding: 10px;
 }
 .con .ul span{
    color:black;
 }
 .con .ul h3{
    font-size: 40px;
    font-weight: bold;
    color: black;
 }
 .con .ul h4{
    font-size: 30px;
    font-weight: bold;
    color:aqua;
 }

 
 

 
 





